.footer {
    background-color: #f8f9fa;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .dropdown .btn-link {
    padding: 0;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
  }
  
  .dropdown .btn-link:hover {
    text-decoration: underline;
  }
  
  .input-group {
    margin-top: 10px;
  }
  
  .collapse {
    margin-top: 10px;
  }